<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Framework suite" parallel="classes">
    <listeners>
        <listener class-name="Academy.Listeners"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="Academy.HomePage"/>
            <class name="Academy.ValidateNavBar"/>
        </classes>
    </test>
</suite>