<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="basePath">./logs</property>
    </properties>

    <Appenders>
        <RollingFile name="File" fileName="${basePath}/prints.log"
                     filePattern="${basePath}/printspattern.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] vib %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="500"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] vib %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
<!--        <Logger name="alphapackage.AlphaDemo" level="trace" additivity="false">-->
<!--            <AppenderRef ref="File"/>-->
<!--        </Logger>-->
        <Root level="trace">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>